[Global]
NumItems=5
ItemHeight=1
EndTime=30
NumStartPos=4
NumBoundaryColors=4
BoundaryColorTransitionDuration=0.5
EnableMusic=1
MusicVolume=0.25
EnableAmbient=1
AmbientVolume=1
ItemInvisibilityDistance=33
ToggleInvisibilityButton=O
InvisibilityOnAtStart=0
ItemScale=3.5
[Character]
RotationEnabled=0
VignetteStrength=0.5
DefaultLookAngle=0
HeadHeight=1
KeyboardRotationButton=R
ForwardSpeed=3
MinAxisTilt=0.01
MinMovementOffset=0.1
TimeForwardSpeed=1
TimeBackwardSpeed=-1
TimeTransitionDuration=0.25
KeyboardTimeButton=LeftControl
ControllerTimeButton=x
MouseLookSensitivity=2
StepSoundEnabled=1
WalkSpeed=5
RandomStartLocationEnabled=0
KeyboardClickButton=Space
ControllerClickButton=a
ItemClickDistance=3
[BoundaryColors]
Boundary0Color=(255,255,0)
Boundary0Delay=0
Boundary1Color=(255,0,0)
Boundary1Delay=7.5
Boundary2Color=(0,255,0)
Boundary2Delay=15
Boundary3Color=(0,0,255)
Boundary3Delay=22.5
[StartPos]
StartPos0X=5
StartPos0Z=-12
StartRot0Y=0
StartPos1X=12
StartPos1Z=1
StartRot1Y=270
StartPos2X=-2
StartPos2Z=9
StartRot2Y=180
StartPos3X=-9
StartPos3Z=-3
StartRot3Y=90
[Items]
Item0X=13
Item0Z=5
Item0Delay=0
Item0Type=foil
Item0Image=dotunclicked.jpg
Item0ClickImage=dotunclicked.jpg
Item0AudioEnabled=0
Item1X=2
Item1Z=-12
Item1Delay=2
Item1Type=fall
Item1Image=dotunclicked.jpg
Item1ClickImage=dotunclickedyellow.jpg
Item1AudioEnabled=0
Item2X=2
Item2Z=13
Item2Delay=12
Item2Type=fly
Item2Image=dotunclicked.jpg
Item2ClickImage=dotunclickedred.jpg
Item2AudioEnabled=0
Item3X=-13
Item3Z=2
Item3Delay=18
Item3Type=fall
Item3Image=dotunclicked.jpg
Item3ClickImage=dotunclickedgreen.jpg
Item3AudioEnabled=0
Item4X=-12
Item4Z=-16
Item4Delay=25
Item4Type=fly
Item4Image=dotunclicked.jpg
Item4ClickImage=dotunclickedblue.jpg
Item4AudioEnabled=0