[Global]
NumItems=10
ItemHeight=1
EndTime=60
NumStartPos=4
NumBoundaryColors=4
BoundaryColorTransitionDuration=0.5
EnableMusic=1
MusicVolume=0.25
EnableAmbient=1
AmbientVolume=1
ItemInvisibilityDistance=33
InvisibilityOnAtStart=1
ItemScale=3.5
[Character]
RotationEnabled=0
VignetteStrength=0.5
DefaultLookAngle=0
HeadHeight=1
KeyboardRotationButton=R
ForwardSpeed=3
MinAxisTilt=0.01
MinMovementOffset=0.1
TimeForwardSpeed=1
TimeBackwardSpeed=-1
TimeTransitionDuration=0.25
KeyboardTimeButton=LeftControl
ControllerTimeButton=x
MouseLookSensitivity=2
StepSoundEnabled=1
WalkSpeed=5
RandomStartLocationEnabled=1
KeyboardClickButton=Space
ControllerClickButton=a
ItemClickDistance=3
[BoundaryColors]
Boundary0Color=(255,255,0)
Boundary0Delay=0
Boundary1Color=(255,0,0)
Boundary1Delay=15
Boundary2Color=(0,255,0)
Boundary2Delay=30
Boundary3Color=(0,0,255)
Boundary3Delay=45
[StartPos]
StartPos0X=5
StartPos0Z=-12
StartRot0Y=0
StartPos1X=12
StartPos1Z=1
StartRot1Y=270
StartPos2X=-2
StartPos2Z=6
StartRot2Y=180
StartPos3X=-9
StartPos3Z=-3
StartRot3Y=90
[Items]
Item0X=18
Item0Z=-13
Item0Delay=4
Item0Type=fall
Item0Image=bottle.jpg
Item0ClickImage=bottleyellow.jpg
Item0AudioEnabled=0
Item1X=-13
Item1Z=9
Item1Delay=10
Item1Type=fly
Item1Image=icecubetray.jpg
Item1ClickImage=icecubetrayyellow.jpg
Item1AudioEnabled=0
Item2X=-10
Item2Z=-2
Item2Delay=16
Item2Type=fly
Item2Image=clover.jpg
Item2ClickImage=cloverred.jpg
Item2AudioEnabled=0
Item3X=6
Item3Z=-2
Item3Delay=25
Item3Type=fall
Item3Image=basketball.jpg
Item3ClickImage=basketballred.jpg
Item3AudioEnabled=0
Item4X=17
Item4Z=-8
Item4Delay=34
Item4Type=fly
Item4Image=boot.jpg
Item4ClickImage=bootgreen.jpg
Item4AudioEnabled=0
Item5X=-2
Item5Z=-7
Item5Delay=40
Item5Type=fall
Item5Image=crown.jpg
Item5ClickImage=crowngreen.jpg
Item5AudioEnabled=0
Item6X=-15
Item6Z=-15
Item6Delay=46
Item6Type=fall
Item6Image=bandana.jpg
Item6ClickImage=bandanablue.jpg
Item6AudioEnabled=0
Item7X=6
Item7Z=18
Item7Delay=51
Item7Type=fly
Item7Image=hammer.jpg
Item7ClickImage=hammerblue.jpg
Item7AudioEnabled=0
Item8X=14
Item8Z=6
Item8Delay=0
Item8Type=foil
Item8Image=fireextinguisher.jpg
Item8ClickImage=fireextinguisher.jpg
Item8AudioEnabled=0
Item9X=-2
Item9Z=10
Item9Delay=0
Item9Type=foil
Item9Image=guitar.jpg
Item9ClickImage=guitar.jpg
Item9AudioEnabled=0